header
  .header
    .container
      .header__burger_button.burger_button
        span
      .logo.header__logo
        a(href="#")
          img(src="assets/img/logo.png", alt="")
      .header__divide
      .header__document_name Test name
      a(href="#").header__logout
      .header__user_name Constantine Isaev
      
  include subheader.pug
      
