article.result_item.result_item--card
  header
    .result_item__checkbox.checkbox.checkbox--checked
    h2.result_item__name Clint_Dog_hepatocyte </br> (mL/min/kg)
  figure.result_item__image
    img(src="assets/img/molecule.png", alt="")
    figcaption
      a(href="") L-000315185-003W
  .result_item__tool
    a(href="#").result_item__tool__pencil 
    a(href="#").result_item__tool__plus L+
    a(href="#").result_item__tool__back
    a(href="#").result_item__tool__forward
  .result_item__description
    .result_item__description__item 
      label
        span Pred_Absorbtion_PAPP
        input(type="text" value="34")
    .result_item__description__item 
      label
        span Pred_Human_Fraction
        input(type="text" value="0.024")
    .result_item__description__item 
      label
        span Pred_Absorbtion_CNS
        input(type="text" value="1")
    .result_item__description__item 
      label
        span Calc_Oral_Absorbtion
        input(type="text" value="Good")
    
