.subheader
  .container
    a(href="#").subheader__go_back To The Input Page
    .subheader__results Results for “Test Name”
    a(href="#").subheader__menu_button
      .subheader__menu_button__dots
    .subheader__menu
      .subheader__menu__item
        .checkbox
        p Pred_Absorrbtion_PAPP
      .subheader__menu__item
        .checkbox
        p Pred_Human_Fraction
      .subheader__menu__item
        .checkbox
        p Pred_Absorbtion_CNS
    
      
