
ul.toolbox
  li.toolbox__item
    a(href="#view") View
    ul
      li
        a(href="#view1").view_1
      li
        a(href="#view2").view_2
  li.toolbox__item
    a(href="#graph") Graph
    ul
      li
        a(href="#graph1").graph_1 
      li
        a(href="#graph2").graph_2 
      li
        a(href="#graph2").graph_3 
      li
        a(href="#graph4").graph_4 
      li
        a(href="#graph5").graph_5 
  li.toolbox__item
    a(href="#colors") Colors
    ul
      li
        a(href="#graph").colors_1 
  li.toolbox__item
    a(href="#export") Export
    ul
      li
        a(href="#graph").export_1 
      li
        a(href="#graph").export_2 
      li
        a(href="#graph").export_3 
      li
        a(href="#graph").export_4 
      li
        a(href="#graph").export_5 
      li
        a(href="#graph").export_6 
  li.toolbox__item
    a(href="#math") Math
    ul
      li
        a(href="#graph").math_1 
      li
        a(href="#graph").math_2 
  li.toolbox__item
    a(href="#actions") Actions
