<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="assets/style/main.css")
  link(rel="shortcut icon", type="image/png", href="assets/img/favicon.png")
  title Merck
body
  
  include templates/header.pug
  
  main
    .container 
      .left_side
        include templates/toolbox.pug
      .card_wrapper
        - for(var i = 0; i < 9; i++) {
          include templates/result_item.pug
        - }

  script(src='assets/js/burger_menu.js')
  script(src='assets/js/subheader_menu.js')
  script(src='assets/js/checkbox.js')
  script(src='assets/js/toolbox.js')

    
    
  
